.holiday {
  color: red;
}

.weekend {
  color: gray;
}

.door {
  width: 100px;
  height: 200px;
  border: 1px solid black;
}

.box {
  text-align: center;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.square {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.carousel {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}
